@model QuizApp.Models.Locatie

@{
    ViewBag.Title = "Details";
}

<h2>Locatie details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Locatienaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locatienaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plaatsnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plaatsnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huisnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Straat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Straat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocatieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
