@model IEnumerable<QuizApp.Models.Locatie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plaatsnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Straat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plaatsnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huisnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Straat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { naam = item.Naam, plaatsnaam = item.Plaatsnaam /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { naam = item.Naam, plaatsnaam = item.Plaatsnaam /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { naam = item.Naam, plaatsnaam = item.Plaatsnaam /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
