@model QuizApp.Models.Team

@{
    ViewBag.Title = "Delete";
}

<h2>Verwijder team</h2>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teamnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evenement.Evenement_Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenement.Evenement_Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Teamleider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Teamleider)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar Team beheren", "Index")
        </div>
    }
</div>
