@model QuizApp.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Teamnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teamnaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email_Teamleider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Teamleider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Puntentotaal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puntentotaal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evenement.EvenementID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenement.EvenementID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evenement.Evenement_Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenement.Evenement_Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evenement.Email_Quizmaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenement.Email_Quizmaster)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
