@model IEnumerable<QuizApp.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teamnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puntentotaal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Rolnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evenement.Email_Quizmaster)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teamnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puntentotaal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Rolnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evenement.Email_Quizmaster)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeamID })
        </td>
    </tr>
}

</table>
