@model IEnumerable<QuizApp.Models.Team>

@{
    ViewBag.Title = "Team beheer";
}

<h2>Team beheren</h2>

<p>
    @Html.ActionLink("Nieuw team toevoegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teamnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evenement.Evenement_Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Teamnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evenement.Evenement_Naam,"Evenement")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_Teamleider)
        </td>
        <td>
            @Html.ActionLink("Wijzig", "Edit", new { id=item.TeamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeamID }) |
            @Html.ActionLink("Verwijder", "Delete", new { id=item.TeamID }) |
            @Html.ActionLink("Team antwoord beheren", "Index", new { controller = "TeamAntwoord", action = "Index",id = item.TeamID})
        </td>
    </tr>
}

</table>
