@model QuizApp.Models.VraagInQuiz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VraagInQuiz</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuizRonde.Thema_Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizRonde.Thema_Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuizVraag.Thema_Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuizVraag.Thema_Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VraagInQuizID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
