@model IEnumerable<QuizApp.Models.VraagInQuiz>

@{
    ViewBag.Title = "Index";
}

<h2>Vragen bij ronde beheren</h2>
<h4>@Html.Raw(ViewBag.naamBijQuizRondeId) </h4>
<h5>Rondenummer: @Html.Raw(ViewBag.rondeNummer)</h5>
<h5>Thema naam: @Html.Raw(ViewBag.themaNaam)</h5>

<p>
    @Html.ActionLink("Vraag toevoegen", "Create", new {id = ViewBag.quizRondeID}) |
    @Html.ActionLink("Vragen beheren", "Index", new { controller = "QuizVraag", action= "Index", id = ViewBag.quizRondeID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuizVraag.Vraag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuizVraag.Vraag)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.VraagInQuizID })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Terug naar rondes", "Index", new {controller ="QuizRonde", action = "Index", id = ViewBag.evenementID })