@model QuizApp.Models.Evenement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evenement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evenemenmtnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenemenmtnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EindTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EindTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evenementtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenementtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locatie.Locatienaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locatie.Locatienaam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvenementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
