@model IEnumerable<QuizApp.Models.Evenement>

@{
    ViewBag.Title = "Index";
}

<h2>Evenement Beheren</h2>

<p>
    @Html.ActionLink("Create Evenement", "Create") |
    @Html.ActionLink("Create Locatie", "Create", "Locatie")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evenementnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginTijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EindTijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evenementtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locatie.Locatienaam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evenementnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginTijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EindTijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evenementtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locatie.Locatienaam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EvenementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EvenementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EvenementID })
        </td>
    </tr>
}

</table>
