@model QuizApp.Models.QuizRonde

@{
    ViewBag.Title = "Details";
}

<h2>Ronde details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rondenummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rondenummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evenement.Email_Quizmaster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenement.Email_Quizmaster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thema.Thema_Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thema.Thema_Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuizRondeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
