@model IEnumerable<QuizApp.Models.QuizRonde>

@{
    ViewBag.Title = "Index";
}

<h2>Ronde beheren</h2>
<h4>@Html.Raw(ViewBag.naamBijID) 
    </h4>

<p>
    @Html.ActionLink("Create New", "Create", new {id = ViewBag.evenementID})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rondenummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thema.Thema_Naam)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rondenummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thema.Thema_Naam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.QuizRondeID}) |
                @Html.ActionLink("Details", "Details", new {id = item.QuizRondeID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.QuizRondeID}) |
                @Html.ActionLink("Quizvragen beheren", "Index", new {controller = "VraagInQuiz", action = "Index", id = item.QuizRondeID})
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Terug naar evenementen beheren", "Index", new { controller = "Evenement"})
