@model IEnumerable<QuizApp.Models.MeerkeuzeAntwoord>

@{
    ViewBag.Title = "Index";
}

<h2>MeerkeuzeAntwoord beheren</h2>
<h4>@Html.Raw(ViewBag.Vraag)</h4>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.VraagID})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meerkeuze_Antwoord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Is_Juist)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meerkeuze_Antwoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Juist)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeerkeuzeAntwoordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeerkeuzeAntwoordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeerkeuzeAntwoordID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to List", "Index", new { controller = "QuizVraag", action = "Index"})
</p>
