@model QuizApp.Models.Ronde

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ronde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evenement.EvenementID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenement.EvenementID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thema.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thema.Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ronde1, evenementID = Model.EvenementID/* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
