@model IEnumerable<QuizApp.Models.Thema>

@{
    ViewBag.Title = "Index";
}

<h2>Thema beheren</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Thema_Naam)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thema_Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Thema_Naam }) |
            @Html.ActionLink("Details", "Details", new { id=item.Thema_Naam }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Thema_Naam })
        </td>
    </tr>
}

</table>
